 # use of dataframe

In [1]:
import pandas as pd
list=[1,2,3,4,5]
var=pd.DataFrame(list)
var

   0
0  1
1  2
2  3
3  4
4  5

# changing default index

In [4]:
var=pd.DataFrame(list, index =['a','b','c','d','e'])
var

   0
a  1
b  2
c  3
d  4
e  5

# using dictionary in dataframe

In [5]:
dict={"fruit":['Apple','Mango','Orange'], 'Animal':['Cat', 'Dog','Hen'], 'Plant':['Rose','Lily','Banana']}
var1= pd.DataFrame(dict)
var1

    fruit Animal   Plant
0   Apple    Cat    Rose
1   Mango    Dog    Lily
2  Orange    Hen  Banana

# using index to select in DataFrame

In [9]:

var1['Animal'][1]

'Dog'

# using list of list

In [11]:
lst =[[1,2],[3,4],[5,6]]
var2 = pd.DataFrame(lst)
var2

   0  1
0  1  2
1  3  4
2  5  6

# Creating DataFrame using series

In [14]:
sr={'s':pd.Series([1,2]), 'r':pd.Series[2,3]}
var3 = pd.DataFrame(sr)
var3

TypeError: 'type' object is not subscriptable